{% extends 'base.html.twig' %}

{% block title %}Asistente - Aragon Open Data{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css">  

     <link href="{{ asset('theme/bootstrap-tagsinput.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="container" style="display:{{ permisoEdicion }}">
	<div class="row">                  
        <div id="col02" class="col col-12">
             <div class="form formtheme01">
                <h1>Asistente de creación de conjunto de datos</h1>
                <div class="listadoPasos">
                    <ul>
                        <li class="paso01 active">
                            <span>1</span>
                        </li>
                        <li class="paso01-1 uncomplete">
                            <span></span>
                        </li>
                        <li class="paso01-2 uncomplete">
                            <span></span>
                        </li>
                        <li class="paso02 uncomplete">
                            <span>2</span>
                        </li>
                        <li class="paso03 uncomplete">
                            <span>3</span>
                        </li>
                    </ul>
                </div>
                <div>
                  <div class="box">
                    {{ form_start(paso1_form) }}
                    <div class="fieldset fieldset01">
                        <fieldset class="mediumLabels">
                            <legend>Paso 1</legend>
                            <h2>Descripción del conjunto de datos - contenido de los datos</h2>
                            <div>
                                {{ form_widget(paso1_form) }}
                                <div class="fieldset actionButtons">
                                    <fieldset>
                                        <input class="submit principal" type="submit" id="siguiente" value="Guardar y siguiente...">
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                   {{ form_end(paso1_form) }}
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}



{% block javascripts %}
   {{ parent() }}
       <!-- AUTOCOMPLETE -->
    <script type="text/javascript" src="/theme/libraries/jquery.autocomplete.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-
    <script type='text/javascript' src='/js/datepicker-es.js'></script>
    <script type="text/javascript" src="/js/paso1.js"></script>
{% endblock %}

